In [46]:
#Create a dataset of 50 employee salaries in USD. Ensure the salaries range between $30,000 and $120,000.

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

dataset= np.random.randint(30000 , 120000 , size=50)
df=pd.DataFrame(dataset,columns=['Salary'])
df.head()

   Salary
0  113127
1  117968
2   93912
3  103565
4   45112

In [48]:
#Calculate and print the mean salary.
mean=np.mean(df['Salary'])
mean

81021.82

In [49]:
#Calculate and print the median salary.
median= np.median(df['Salary'])
median

83906.0

In [50]:
mode= stats.mode(df['Salary'])
mode

ModeResult(mode=34799, count=1)

In [51]:
# calculate and print the range of the salaries
range=max(df['Salary'])-min(df['Salary'])
range

83169

In [52]:
#Calculate and print the variance of the salaries.
std= [(x-mean)**2 for x in df['Salary']]
std

[1030742582.8323996,
 1365020216.5923996,
 166156740.4323998,
 508194964.5123997,
 1289515172.4324005,
 390213404.59240025,
 19261740.99240006,
 5778350.592400034,
 1134599729.7924004,
 1253597582.1923995,
 206243490.9923998,
 3538838.1923999735,
 497148182.1124003,
 471418760.3523997,
 121158011.55239984,
 23796640.112399932,
 1055936723.2323996,
 304648399.4723998,
 1728798272.5924006,
 954759324.6723995,
 852358535.2323996,
 157598396.59240016,
 40167962.35240009,
 1574408756.5924006,
 253388454.51239976,
 797148591.7924004,
 1335038597.7123995,
 2136549088.7524006,
 15110168.352399945,
 1364576898.4323995,
 1288940679.3124006,
 300501.31239999237,
 161650373.07239982,
 239605013.47239977,
 649323150.5124004,
 1257140700.1923995,
 8443789.87240004,
 89400428.83239987,
 433521536.5923997,
 926826176.1924005,
 1126664272.2724004,
 1088130293.7124004,
 1435635.3123999832,
 245073389.2324002,
 1522780480.7524006,
 449066109.7923997,
 42926345.312400095,
 334567265.79239976,
 187065252.7523998,
 920019304.5124004]

In [53]:
variance= np.sum(std)/(len(df)-1)
variance

653668434.232245

In [54]:
std_deviation= np.sqrt(variance)
std_deviation

25566.940259488325

In [55]:
#Calculate the probability of an employee earning more than $100,000.
z_score_100000= 100000-mean/std_deviation
z_score_100000

99996.83099271255

In [56]:
probability=1 - stats.norm.cdf(z_score_100000)
probability

0.0

In [57]:
#Calculate the z-score for a salary of $45,000.
z_score_45000= 45000-mean/std_deviation
z_score_45000

44996.83099271255

In [58]:
#Calculate the probability of an employee earning between $50,000 and $70,000.
prob_between_50000_70000 = (stats.norm.cdf((70000 - mean) / std_deviation)
                            - stats.norm.cdf((50000 - mean) / std_deviation))
prob_between_50000_70000

0.220702357056847

In [59]:
sample_means = [np.mean(np.random.choice(df['Salary'], size=5, replace=False)) for _ in range(1000)]
# Plot histogram of sample means
plt.hist(sample_means, bins=30, edgecolor='black')
plt.xlabel('Sample Means')
plt.ylabel('Frequency')
plt.title('Distribution of Sample Means (Sample Size = 10)')
plt.show()

TypeError: 'int' object is not callable